body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
    color: #fff;
    padding: 10px 20px;
  }
  
  .logo a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }

.heading{
    background-color: white;
    padding : 2%;
    padding-left: 10%;
}

.formDiv{
    width: 50%;
    background-color: white;
    margin-left: 10% ;
    padding: 2%;
    border: 2px solid rgb(233, 228, 228);
    border-radius: 2%;
}

.buttons{
    margin-left: 50%;
    background-color: blueviolet;
    color: white;
}